@import url('https://fonts.googleapis.com/css2?family=Kanit&family=PT+Serif:wght@400;700&family=Pacifico&family=Poppins:wght@200&family=Radio+Canada:wght@300;500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=PT+Serif:wght@400;700&family=Pacifico&family=Poppins:wght@200&family=Radio+Canada:wght@300;500&family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    font-family: "Kanit", "sans-serif";
    justify-content: center;
}

body{
    place-items: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sign-in-section{
    position: relative;
    width: 30em;
    height: 18em;
    margin: auto;
    margin-right: 0%;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border: 1px solid gray;
    border-right: none;
}

.SignInContainer{
    display: flex;
    margin: auto;
    width: 60em;
    box-shadow: 10px 10px 10px #e1e1e3,-15px -15px 27px #ffffff ;
}

.styleSignIn{
    position: relative;
    width: 30em;
    height: 18em;
    margin: auto;
    margin-left: 0;
    background-color: #8DDFFF;
}

.styleSignIn > img{
    position: absolute;
    left: 200px;
    top: 20px;
    width: 200px;
    height: 200px;
    transition: 1s;
    animation-name: bounce-2;
    animation-timing-function: ease;
}

@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

.styleSignIn > h3{
    font-size: 40px;
    position: relative;
    font-family: 'Pacifico', cursive;
    left: 120px;
    top: 100px;
    z-index: 1;
    color: white;
}

.SubmitBtn{
    width: 28.8em;
    border: 1px solid #808080;
    color: #555;
    background-color: white;
}

.SubmitBtn:hover{
    color: white;
    background-color: #808080;
}

@media(max-width: 767px){
    .sign-in-section{
        width: 20em;

    }
    .SubmitBtn{
        width: 18.5em;
    }
}
@media(max-width: 574px){
    .sign-in-section{
        width: 15em;
        height: 28.5em;
    }
    .SubmitBtn{
        width: 13.5em;
    }
}

.form-group{
    position: relative;
}



.form-group input{ 
    min-width: 100%;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 5px;
    outline: none;
}


.form-group span{
    padding: 7px;
    position: absolute;
    padding-left: 13px;
    pointer-events: none;
    font-size: 1em;
    z-index: 1;
    transition: 0.5s;
    text-transform: uppercase;
}

.form-group input:valid ~ span, 
.form-group input:focus ~ span{
    color: #555;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
}


